/* Variables de color */
:root {
    --primary-color: #d6ad3c;
    --secondary-color: #FF9800;
    --background-color: #F5F5F5;
    --text-color: #333;
    --button-hover: #e68900;
    --card-bg: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

main {
    max-width: 800px;
    background: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 10px var(--shadow-color);
}

.btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

/* Estilos para la página de la herramienta */
#transcription {
    width: 100%;
    height: 250px;
    border: 2px solid var(--primary-color);
    padding: 15px;
    margin-top: 20px;
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.controls button {
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold;
}

#startButton {
    background-color: var(--primary-color);
    color: white;
}

#startButton:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

#stopButton {
    background-color: var(--secondary-color);
    color: white;
}

#stopButton:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}